.body {
    display: flex;
    justify-content: space-between;
}


.memberInfo {
    display: inline-block;
}

.memberIndividual{
    height: 22vh;
    text-align: center;
}

.containerAboutUs{
    background-color: rgba(141, 140, 128, 0.36);
}
