.body {
    display: flex;
    justify-content: space-between;
}

.memberPicture {
    border-radius: 50%;
    background-color: red;
    width: 30vw;
    height: 20vh;
    margin: 0 35px;
}

.memberInfo {
    display: inline-block;
}