@media only screen and ( min-width: 550px) {
    .header{
        display: none;
    }
    .desktop_menu{
        position: absolute;
        height: 10vh;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    .desktop_menu ul{
        float: right;

    }
    .nav-wrapper *{
        height: 100%;
    }
    .desktop_menu ul > li{
        list-style-type: none !important;
    }

    .desktop_logo{
        display: inline-block;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        background-color: rgba(255, 254, 208, 0.51);
        background-image: url("../images/ourlogo.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        float: left;
        margin-left: 2%;
        cursor: pointer;
    }
    .main{
        width: 100%;
    }
    .main-content{
        /*margin-top: 5%;*/
    }
    .containerAboutUs{
        margin-top: 7%;
    }
    .favContainer{
        position: relative;
        top: 10vh;
    }
    .noFavInList > p{
        text-align: center;
        width: 100vw;
        font-size: 2rem;
        font-weight: bold;
    }
    .main{
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .bgImg{
        position: absolute;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .search_field input{
        width: 40vw !important;
    }
}
@media only screen and ( max-width: 550px) {
    .desktop_menu{
        display: none;
    }
    .main{
        margin-top: 10vh;
    }
    .search_field{
        margin-left: -25px;
    }
    .search_field input {
        width: 60vw;
    }
    .directionLeft{
        margin-left: -12vw;
    }
}
@media only screen and ( min-width: 1000px) {
    .noFavInList{
        margin-left: -11%;
    }
    .memberIndividual{
        background-color: rgba(168, 168, 168, 0.31);
        box-shadow: 0 0 5px 15px rgba(168, 168, 168, 0.31);
    }
    .wine_pairing_slider {
        top: 2%;
    }
}