@media only screen and (max-width: 500px){
    .dishContainer > img{
        position: absolute;
        right: 20%;
        top: 50%;
        transform: translateY(-50%);
        width: 25vmin;
        height: 25vmin;
        border-radius: 50%;
    }
    .favContainer{
        margin-top: 10.5vh;
    }
    .favListItemName{
        width: 50%;
    }
    dishContainer{

    }
    .card-panel{
        height: 135px;
        border: solid 3px #7F977C;
        background-color: #F5F5F5;
    }
    .individualPanel{
        position: relative;
        display: flex;
        align-items: center;
        margin: 5px;
    }
    .favTrash{
        position: absolute;
        right: 10%;
        margin-right: -5%;
        margin-left: 1%;
        cursor: pointer;
    }
}
@media only screen and (min-width: 501px){
    .favContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 1%;
    }
    .individualPanel{
        display: inline-block;
        width: 31%;
        height: 35vh;
        background-color: rgba(235, 186, 81, 0.22);
        position: relative;
        margin: 1%;
    }
    .dishContainer > img{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 20vmin;
        height: 20vmin;
        border-radius: 50%;
    }
    .favTrash{
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
    }
    .favTrash > i{
        font-size: 2.5rem !important;
        cursor: pointer;
    }
    .favListItemName *{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20vw;
    }
    .favListItemName h5{
        text-align: center;
        width: 100%;
        font-size: 1.5rem;
        position: absolute;
        bottom: 35px;
    }
}
.noFavInList{
    font-size: 1.3rem;
    font-weight: bold;
}
@media only screen and (max-width: 550px) {
    .favContainer{
        margin-top: 10vh;
    }
}