.dishContainer > img{
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
}
.card-panel{
    height: 135px;
    border: solid 3px #7F977C;
    background-color: #F5F5F5;
}
.individualPanel{
    display: flex;
    align-items: center;
}
.favTrash{
    margin-right: -5%;
    margin-left: 1%;
}
