.header {
    position: fixed !important;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    background-color: #7F977C;
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
}
.logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    width: 7vh;
}
.hamicon{
    width: 60px;
    height: 50px;
    /*margin-top: 14px;*/
    margin-right: 11px;
    cursor: pointer;
}
.hamicon:hover{
    animation-name: bounceIn;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

@keyframes bounceIn {
}

.no_menu{
    display: none;
}
.menu_backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(203, 203, 203, 0.4);
    z-index: 100;
}

.menu{
    width: 50vmin;
    height: 100%;
    font-family: "Arial Black";
    font-size: 1.5rem;
    line-height: 1.5;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #e0e0e0;
    padding: 10px;
    animation: slideInRight 0.5s;
}
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes spin{
    25%{
        transform: rotate(-180deg);
    }
    50%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.backArrow{
    width: 42px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.headerBtn{
    background-color: #527E45;
}

.nav-wrapper {
    background-color: #7F977C;
}