    .mainContentRecipe>.resultRow {
        display: inline-block;
    }

    .mainContentRecipe {
        width: 25%;
        display: inline-block;
    }

    .pictureFrame img {
        width: 100%;
        border: 2px solid #7F977C;
    }

    .titleText>p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 20vw;
    }

    @media screen and (max-width: 414px) {
        .pictureFrame img {
            width: 120px;
            border: 2px solid #7F977C
        }

        .mainContentRecipe {
            width: 100%;
            display: inline-block;
        }

        .mainContentRecipe>.resultRow {
            display: block;
        }
    }