.menu-banner {
    height: 15vh;
    background-color: #00d3ff;
}

#ingAddMinImg {
    width: 50px;
    margin: auto;
}

.landPgSearchBtn {
    width: 50vw;
    background-color: #527E45;
}
.landPgSearchBtn > * {
    color: white;
}

#landPgSearchBtn>* {
    color: #527E45;
    text-decoration: none;
}

.ingredientBtns>button {
    width: 100px;
    height: 40px;
    color: white;
}
button{
    margin: 2px;
}
/* .slogan > img{
    width: 20vw;
    height: 100px;
    animation: swing 10s linear alternate infinite;
    z-index: 1;
} */
.commonFoodHeader{
    text-align: center;
    margin: 10px auto;
    text-shadow: 2px 2px 7px #8e8e8e;
}
@keyframes swing {
    0%{
        transform: rotate(10deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: translateX(0%);
    }
    75%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(10%);
    }
}
@media only screen and (max-width: 500px) {
    .slogan > img{
        width: 30vw;
        height: 50px;
        animation: swing 10s linear alternate infinite;
    }
}
.clearBtn{
    border: 1px solid red;
    border-radius: 5px;
}