*{
    font-family: "Comic Sans MS",cursive,sans-serif;
}

.menu-banner {
    height: 15vh;
    background-color: #00d3ff;
}

.margin-top-zero{
    margin-top: 0;
}

.bgImg {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}
.main{
    height: 90vh;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search_field{
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

#ingAddMinImg {
    width: 50px;
    height: 50px;
    margin: 0px;
}

.landPgSearchBtn {
    width: 50vw;

    background-color: #527E45;
    text-shadow: 1px 1px 1px #000000;

}

.landPgSearchBtn > * {
    color: white;
}

#landPgSearchBtn>* {
    color: #527E45;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000000;
}

.ingredientBtns button {
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #000000;
}

button{
    margin: 2px;
}


.ingredientBtns button:hover{
    box-shadow: 0 0 5px 2px #daf857;
    color: #000000;
}

.directionLeft:hover{
     text-shadow: 0 0 7px #0088ff;
     color: #5c8000;
     cursor: pointer;
}

.directionRight:hover{
    text-shadow: 0 0 7px #0088ff;
    color: #5c8000;
    cursor: pointer;
}

/* .slogan > img{
    width: 20vw;
    height: 100px;
    animation: swing 10s linear alternate infinite;
    z-index: 1;
} */
.commonFoodHeader{
    text-align: center;
    margin: 10px auto;
    text-shadow: 2px 2px 7px #8e8e8e;
}
@keyframes swing {
    0%{
        transform: rotate(10deg);
    }
    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: translateX(0%);
    }
    75%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(10%);
    }
}
@media only screen and (max-width: 500px) {
    .slogan > img{
        width: 30vw;
        height: 50px;
        animation: swing 10s linear alternate infinite;
    }
}
.clearBtn{
    border: 1px solid red;
    border-radius: 5px;
}
.ingredients{
    display: inline;
}
.commonFoodBubble{
    display: inline-block;
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid black;
}
.commonFoodBubbleActive{
    display: inline-block;
    background-color: rgba(255, 194, 168, 0.51);
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px green;
}