.body{
    text-align: center;
    height: calc(100vh - 77px);
}
/* input{
    display: block;
} */

.search {
    display: block;
    margin: auto;
}

.ingredientButton > div {
    display: inline;
    width: 15vw;
    height: 15vh;
    margin: 5px;
    background-color: grey;
}