.menu-banner {
    height: 15vh;
    background-color: #00d3ff;
}

#ingAddMinImg {
    width: 50px;
    margin: auto;
}

.landPgSearchBtn {
    width: 50vw;
}
.landPgSearchBtn > * {
    color: white;
}

#landPgSearchBtn>* {
    color: #016200;
    text-decoration: none;
}

.ingredientBtns>button {
    width: 100px;
    height: 40px;
    background-color: green;
    color: white;
}
button{
    margin: 2px;
}