@media only screen and (max-width: 500px) {
    .login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80vw;
    }
}

@media only screen and (min-width: 501px) {
    .login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        z-index: -1;
    }
}
.loginError{
    display: none;
}