
.memberInfo {
    display: inline-block;
    margin-right:10vw;
}
.memberIndividual{
    /* background-color: rgba(141, 140, 128, 0.36); */
    border-bottom: 2px solid #f5f5f5;
    display: flex;
    justify-content: space-evenly;
}

img.memberImg {
    height: 20vh;
    border: 2px solid #7F977C;
    border-radius: 40px;
    box-shadow: 7px 7px 5px rgba(165, 165, 165, 0.73);
    margin-left: 12vw;
}

.nameOfPerson{
    font-weight: bold;
    text-align: center;
}
.title{
    font-weight: bold;
}
linkedin , github{
    font-weight: bold;
}