.resultsWholeContainer{
    position: absolute;
    background-color: rgba(168, 168, 168, 0.31);
    width: 100vw;
    height: 100vh;
}
.indivDish{
    border: 2px black solid;
    display: flex;
    justify-content: space-evenly;
}
.dishPicture{
    width: 30vw;
    height: 15vh;
    display: inline-block;
    background-color: grey;
    border-radius: 50%;
}
.mainPage{
    margin-top: 10vh;
    background-color: #F5F5F5;
}
.loading-spinner, .goback{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.goback{
    display: block;
    width: 90%;
}
.loading-spinner > *{
    font-size: 6rem;
}

.resultHeader{
    text-align: center;
    font-weight: bold;
}
h5{
    margin-top: 0;
}
.goToTop{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.goToTop > i{
    font-size: 3rem;
    margin: auto;
}
.hideGoToTop{
    display: none;
}
.invalid_null-search{
    text-align: center;
    font-size: 1.5rem;
}
.invalidGoBack{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
