.resultsWholeContainer {
    position: absolute;
    background-color: rgba(168, 168, 168, 0.31);
    width: 100vw;
    height: 100vh;
}
body{
    margin: 0 !important;
}
.indivDish{
    border: 2px black solid;
    display: flex;
    justify-content: space-evenly;
}
.dishPicture{
    width: 30vw;
    height: 15vh;
    display: inline-block;
    background-color: grey;
    border-radius: 50%;
}
.mainPage{
    margin-top: 70px;
    background-color: #F5F5F5;
}
.loading-spinner, .goback{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.goback{
    display: block;
    width: 90%;
}
.loading-spinner > *{
    font-size: 6rem;
}

.resultHeader{
    text-align: center;
    font-weight: bold;
    padding-top: 11px;
}
h5{
    margin-top: 0;
}
.goToTop{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 3px 3px #00cf20;
}
.goToTop:hover{
    animation-name: glowGo;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes glowGo {
    from{
        box-shadow: 0 0 5px 5px #cfcf3b;
    }
    to{
        box-shadow: 0 0 1px 1px #cfaab3;
    }

}
.goToTop > i{
    font-size: 2rem;
}
.hideGoToTop{
    display: none;
}
.invalid_null-search{
    text-align: center;
    font-size: 1.5rem;
}
.invalidGoBack{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.backBtn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
