@media only screen and (max-width: 500px) {
    .signup{
        width: 90%;
        margin: 20% auto 0;
    }
}
@media only screen and (min-width: 501px) {
    .signup{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
    }
    .f_l_names_signup{
        margin-top: 10%;
        margin-bottom: -25px;
    }
}